/* Reset stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl dla body */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Ogólny styl dla kontenera */
.container, .post-container {
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.form-container {
    width: 45%;
}

/* Nagłówki */
h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Formularze i ich elementy */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 16px;
}

input, button {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
}

input {
    border: 1px solid #ddd;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

/* Posty */
.post-container {
    width: 80%;
    text-align: center;
}

.posts-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.post-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.post-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.post-card p {
    font-size: 14px;
    margin-bottom: 15px;
}

.post-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
